@charset "UTF-8";

.loginBox {
	text-align: center;
	margin: 0 auto;
	background-color: #e6e6ff;
	width: 350px;
	overflow: hidden;
	padding: 10px 10px 0 10px;
	border: 0.01em solid #e6b3ff;
	margin: 10px;
}