@charset "UTF-8";

/* body * {
	border: 1px dotted darkred;
} */
ul {
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

.mainContainer {
	width: 100%;
	margin: 5px auto;
	overflow: hidden;
}

.header {
	text-align: right;
	width: 1250px;
	overflow: hidden;
}

.flexBox {
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.infoBlock {
	max-width: 200px;
	overflow: hidden;
	display: inline-block;
	margin: 5px;
	flex: 1 1 0;
}

.infoBlockSub {
	width: 100%;
	text-align: center;
	background-color: cornsilk;
    border-radius: 5px;
}

#selectedEndDate, #selectedStartDate {
	margin-bottom: 5px;
}

.selectTime {
	width: 15%;
}

.selectAction {
	margin: 5px 0;
}

.selectButton {
	color: whitesmoke;
	background-color: black;
	border: 0;
	border-radius: 2px;
	font-weight: bold;
	height: 25px;
	cursor: pointer;
}

.selectBox {
	width: 100%;
	height: 55%;
	/* border: 1px solid green; */
	box-sizing: border-box;
	margin-bottom: 5px;
}

.selectLine {
	font-size: 13px;
	margin: 5px 0;
}

.info {
	height: 400px;
	margin-bottom: 20px;
}

.infoBox {
	
}

.infoLine {
	font-size: 16px;
	font-weight: bold;
	flex-wrap: nowrap;
	color: whitesmoke;
	background-color: black;
	border: 0;
	box-shadow: 0;
	border-radius: 5px;
	margin: 5px auto;
}

.calendar {
	max-width: 955px;
	overflow: hidden;
	margin: 5px;
	display: inline-block;
	flex: 3 1 0;
}

.weekBox {
	height: 132px;
	max-width: 951px;
	text-align: left;
	/* border: 1px solid #888; */
	border-right-width: 0;
	display: flex;
	flex: 1 1 0%;
}

.calendarTitle {
	text-align: center;
	margin-bottom: 10px;
	overflow: hidden;
}

#calendarTitleID {
	font-size: 22px;
	color: #3c4043;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 28px;
	white-space: nowrap;
}

.dayBox {
	border: 1px solid #888;
	border-right-width: 0;
	border-bottom-width: 0;
	width: 14.2%;
	height: 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 13px;
}

.dayTitle {
	position: relative;
	height: 15%;
	margin: 1px 0;
	/* top: -45px; */
	text-overflow: ellipsis;
	white-space: nowrap;
}

.day {
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dayContent {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dayContentTitle {
	cursor: pointer;
	margin: 1px 0;
	color: whitesmoke;
	background-color: springgreen;
	border: 0;
	box-shadow: 0;
	border-radius: 2px;
}

.dayContentTitle:hover {
	cursor: pointer;
	color: springgreen;
	background-color: whitesmoke;
	font-weight: bold;
}

.weekBox:nth-last-child(2) {
	border-bottom: 1px solid #888;
}

.weekBox>.dayBox:last-child {
	border-right: 1px solid #888;
}

.calendarFooter {
	/* border: solid violet; */
	margin-top: 30px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
}

.preMonth, .nextMonth {
	color: whitesmoke;
	background-color: springgreen;
	width: 200px;
	height: 50px;
	box-shadow: 30px;
	font-size: 24px;
	border: 0;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	margin: 1px 20px;
	line-height: 50px;
}

.preMonth:hover, .nextMonth:hover {
	background-color: whitesmoke;
	color: springgreen;
}