@charset "UTF-8";

form {
	/* border: solid 1px red; */
	position: relative;
	top: -100px;
	
	width: 410px;
	height: 155px;
	margin: 0px 0px 0px 0px;
}

.title {
	/* border: solid 1px blue; */
	width: 400px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 2px 0px;
}

.content {
	/* border: solid 1px yellow; */
	width: 400px;
	height: 86px;
	margin: 2px 0px;
}

label {
	/* display: block; */
	margin-left: 10px; 
}