@charset "UTF-8";

ul {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #888;
}

ul:last-child {
	border-bottom-width: 0;
}

.wrap {
	position: relative;
    margin: 0 auto;
    width: 90%;
}

.header {
    margin: 0 auto;
    width: 650px;
    background-color: #D1DBDB;
    text-align: right;
    height: 20px;
    line-height: 20px;    
}

.content {
    margin: 0 auto;
    width: 650px;
    text-align: center;
    height: 20px;
    line-height: 20px;
}

.main {
    border: 1px solid #888;
    margin: 0 auto;
    width: 650px;
    text-align: center;
    overflow: hidden;
}

.menu {
    border-left: 1px solid #888;
    text-align: center;
    display: inline-block;
    margin: 0;
}

.pointer {
	color: #0066ff;
	font-size: 14px;
}