<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mapper.FriendMapper">
  <insert id="friendInsert" parameterType="com.java.dto.FriendDto">
  	insert into friend values(friend_num_seq.nextval, #{name}, #{phone})
  </insert>
  
  <select id="friendSelectAll" resultType="com.java.dto.FriendDto">
  	select * from friend
  </select>
  
  <select id="friendSelectSearch" parameterType="String" resultType="com.java.dto.FriendDto">
  	select * from friend where name = #{name}
  </select>
  
  <update id="friendUpdate" parameterType="com.java.dto.FriendDto">
  	update friend set name = #{name}, phone = #{phone} where num = #{num}
  </update>
  
  <delete id="friendDelete" parameterType="int">
  	delete from friend where num = #{num}
  </delete>
</mapper>