@charset "UTF-8";

body {
	margin: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

header {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #CCCCCC;
	margin: 0 auto;
}

header>#header_nav {
	width: 100%;
	overflow: hidden;
	background-color: #2d1152;
}

header>#header_nav>.list a, header>#header_nav>.firefox a {
	float: right;
	height: 30px;
	line-height: 30px;
	margin-right: 20px;
	color: #ffffff;
}

header>#header_nav>.list li {
	float: left;
	font-size: 0.9em;
}

header>#header_info {
	width: 100%;
	overflow: hidden;
}

header>#header_info>div:first-child {
	margin-left: 30px;
}

header>#header_info>div {
	float: left;
	margin: 10px 50px 10px 0;
}

header>#header_info>.search>input[type="text"] {
	width: 400px;
	height: 38px; border : 1px solid #3488d9;
	font-size: 20px;
	border: 1px solid #3488d9;
}

header>#header_info>.search>input[type="button"] {
	width: 124px;
	height: 38px;
	font-size: 1.2em;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0; color : #FFFFFF;
	/* if you want img */
	background-image: url(../images/search_btn.png);
	color: #FFFFFF;
}

header>#header_info>.service li {
	float: left;
	margin-right: 15px;
}